body {
    margin: 0;
    background: white;
    text-align: center;
}

/** navigation bar **/

a {
    text-decoration: none;
    color: #575757;
    transition: 0.3s;
}

a:hover {
    color: #8d8d8d
}

#nav {
    left: 0%;
    right: 0%;
    background-color: white;
    position: fixed;
    top: -70px;
    display: block;
    transition: top 0.4s;
    box-shadow: 2px 2px 5px;
    z-index: 1;
}

.nav-item:first-child {
    float: left;
    font-weight: 500;
}

.nav-item {
    color: #2a2d34;
    float: right;
    display: block;
    text-align: center;
    padding: 22px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

.nav-item:hover::after {
    display: block;
    content: '';
    border-bottom: solid 3px #d3cbf5;
    transform: scaleX(0);
    transition: 350ms ease-in-out;
    transform-origin: 0% 50%;
}